body{
    margin: 0;
    
}
/* TITLE section */
.title{
    background-color: #407bff;
    color: white;
    padding: 20px;
    padding-top: 80px;
}
.title h1{
font-weight: bold;
font-size: 3rem;
text-align: center;
}
/* TITLE section ENDS*/

/* CONTAINERS */
.container-fluid{
    padding: 30px 3px;
 }
 .container-fluid{
    padding: 20px;
    text-align: center;
}
.container{
    text-align: center;
}
.container{
    margin-top: 5px;
    margin-bottom: 20px;
}

/* CONTAINERS END */

/* NAVBAR */
a{
    text-decoration: none;
}
.navsec{
position: fixed;
width: 100%;
background-color: #407bff;
z-index: 1;
}
.navbar{
    font-weight: bold;
    color: white;
}
.nav-link{
    color: white;
}
.navbar-toggler{
    background-color: #407bff;
    color: white;
}
.navbar-toggler:hover{
    background-color: #194fc5;
}
/* NAVBAR ENDS*/

/* BUTTONS */
.btn{
    color: #407bff;
    background-color: white;
    margin: 40px 10px 0 0;
}
.btn :hover{
    color: #407bff;
}
.ftbtn:hover{
    background-color: #194fc5;
    color: white;
    }
/* BUTTONS ENDS*/

/* CARDS */
.card-header{
    background-color: #407bff;
}

/* CARDS END */

/* FOOTER */
.footer{
    background-color: #407bff;
    color: white;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    color: white;
}
.socials{
    margin: 30px;
}
/* FOOTER ENDS */

/* ICONS */
.icon{
   color: white;
}
.icon:hover{
   color: #194fc5;
}
/* ICONS ENDS*/

/* TEAM D */
.img{
    height: 400px;
    object-fit: cover;
}

.teamD{
    margin-top: 40px;
}
.team ,h2{
    color: white
}
.span{
    color: grey;
}
.one{
    background-color: #407bff;
}
/* TEAM D ENDS*/

/* FEAUTURED */
.featured{
    text-align: center;
    background-color: #407bff;
    color: white;
}
.future-img{
    width: 80%;
}
/* FEAUTURED ENDS */

/* explore page*/
.explore{
    background-color: #407bff;
    padding: 0%;
}

.flora{
    background-color: white;
    color: black;
    padding: 0%;
}
/* explore ends */